.app {
  height: 100%;

  &.loading .app-container {
    opacity: 0.5;
  }
  &.loading .app-container button,
  &.loading .app-container select {
    pointer-events: none;
  }
  &.loading::after {
    position: absolute;
    left: 50%;
    right: 50%;
    top: 50%;
    bottom: 50%;
    z-index: 9999;
  }
}

.app-container {
  height: 100%;
  display: flex;
  flex-flow: column;
  height: 100%;
  padding-top: 15px;

  .search-row {
    flex: 0 1 auto;
  }

  .search-result-row {
    flex: 1 1 auto;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    height: 100%;

    > div[class*='col-'] {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      flex: 0 auto;
      height: 100%;
    }

    .panel {
      display: -webkit-flex;
      display: flex;
      flex: 1;
      flex-flow: column nowrap;
    }

    .panel .panel-body {
      display: flex;
      -webkit-flex: 1;
      flex: 1;
    }
  }

  .no-padding-right {
    padding-right: 0px;
  }
}
